.navbar{
    margin-bottom: 8%;
}

.name{
    font-size: 32px;
    margin-left: 5%;
    font-family: 'Courier', sans-serif;
}

.introduction-section {
  position: relative;
  height: 100vh;
}

.box {
  position: relative;
  height: auto;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.box:hover .overlay {
  display: flex;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  z-index: 1;
}

.introduction-section{
  height: 100vh !important;
}

.intro-text {
  border-radius: 2px;
  padding: 20px;
  animation: bounceInDown 1s;
  animation-duration: 1s;
  z-index: 9;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.box{
  background-color: #d8d8d8;
  padding: 60px;
  box-shadow: 10px 10px 50px #888888;
  width: 55%;
}

.about-me{
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  font-size: 16px;
}

.kogent{
  margin-top: auto;
  margin-bottom: 50px;
  height: 100px !important;
}

.skill{
  font-weight: 300;
  color:rgb(0, 0, 0);
}



#introVideo {
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* place video behind text */
}



.myname{
  font-size: 64px;
  font-style: italic;
}

.contact-form-container{
    background: rgb(14, 14, 14);
    //background: linear-gradient(to bottom, rgb(79, 90, 128), #ffffff);
    margin-bottom: 100px;
}
.section {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


.divider-heading {
  opacity: 0;
  height: 100%;
  width: 100%;
  animation: slideInLeft;
  animation-duration: .5s;
  font-style: italic;
}

.divider-heading.show {
  opacity: 1;
  transform: translateY(0);
}

.me-img{
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.me-section{
  padding: 25px;
  text-align: center;
  height: 100%;
}

.section:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.section-inner {
  position: relative;
  z-index: 2;
}
.divider{
  padding: 100px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.945);
}

.services-title{
  margin-bottom: 125px;
}
.services-container{
  // background: linear-gradient(to bottom,  rgb(255, 255, 255), rgb(206, 206, 206));
  padding: 15px;
  margin-top: 110px;
  margin-bottom: 100px;
}

.services-comment{
  margin-top: 150px;
  // font-family: 'Courier', sans-serif;
  font-size: 32px;
}

.service-row{
  margin-bottom: 75px;
}
.contact-form{
    width: 75%;
}

.portrait{
    border-radius: 10px;
}

.introduction{
    font-family: 'Courier', sans-serif;
    color: black;
    width: 90%;
}

.work-button{
    margin-left: auto;
    margin-right: 5%;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 30%;
    font-size: 28px;
}

.submit-button{
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.company-container{
    width: 100%;
    height: 100%;
}

.name{
    margin: 0;
}

.instruction{
    color: #ffffff8c;
}

.title-name{
  font-size: 45px;
}

.title-description{
  font-size: 25px;
}

.email{
  text-align: center;
  width: 100%;
}

.form{
  max-width: 650px;
}

@media only screen and (max-width: 1024px) {

}


  @media only screen and (max-width: 767px) {

    .services-container{
      margin-top: 50px;
    }

    .services-comment{
      margin-top: 110px;
    }

    .services-title{
      margin-bottom: 50px;
    }

    .box{
      padding: 16px;
      height: auto;
      width: 75%;
    }

    .title-name{
      text-align: center;
      font-size: 30px;
    }

    .myname{
      font-size: 34px;
    }

    .title-description{
      text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column;
      }

    /* Make the introduction section full width */
    .introduction-section {
      width: 100%;
      padding: 50px 0;
    }
    
    /* Center the portrait and reduce its size */
    .portrait {
      display: block;
      margin: auto;
      width: 200px;
      height: 220px;
    }
    
    /* Reduce the font size of the introduction text */
    .container-fluid {
      font-size: 16px;
    }
    
    /* Center the "Let's Work Together!" button */
    .work-button {
      display: block;
      margin: auto;
      margin-top: 30px;
    }
    
    /* Reduce the size of the hero images */
    .hero-container img {
      max-width: 100%;
      height: auto;
    }
    
    /* Reduce the font size and padding of the service blocks */
    .service-block {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 75px !important;
      }

      /* Center the services section */
  .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Set width to 100% */
  .services-container .container {
    width: 100%;
  }

    
    /* Reduce the size of the service block icons */
    .highlight {
      font-size: 24px;
    }

    .divider{
      padding: 32px;
    }

    .service-row{
      margin-bottom: 0;
    }
  }
  