.navbar{
    margin-bottom: 8%;
}

.name{
    font-size: 32px;
    margin-left: 5%;
    font-family: 'Courier', sans-serif;
}

.hero-container{
    background: linear-gradient(to top, #808080, #ffffff );
}

.contact-form-container{
    background: linear-gradient(to bottom, #808080, #ffffff);
}

.contact-form{
    width: 75%;
}

.portrait{
    border-radius: 10px;
}

.introduction{
    font-family: 'Courier', sans-serif;
    color: black;
    width: 90%;
}

.work-button{
    margin-left: auto;
    margin-right: 5%;
}

