.navbar{
    margin-bottom: 8%;
}

.name{
    font-size: 32px;
    margin-left: 5%;
    font-family: 'Courier', sans-serif;
}

// .hero-container{
//     background: linear-gradient(to bottom,  #ffffff, rgb(135, 154, 217));
// }

.heading{
  height: 100vh;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(222, 227, 248));
}

.contact-form-container{
    background: linear-gradient(to bottom, rgb(169, 180, 217) , rgb(79, 90, 128));
    //background: linear-gradient(to bottom, rgb(79, 90, 128), #ffffff);
}

.contact {
  opacity: 0;
  transform: translateY(200px);
  transition: all .5s ease-in-out;
  height: 100%;
  width: 100%;
}

.contact.show {
  opacity: 1;
  transform: translateY(0);
}

.services-title {
  opacity: 0;
  transform: translateY(200px);
  transition: all .5s ease-in-out;
  height: 100%;
  width: 100%;
}

.services-title.show {
  opacity: 1;
  transform: translateY(0);
}

.service-rows {
  opacity: 0;
  transform: translateY(200px);
  transition: all .5s ease-in-out;
  height: 100%;
  width: 100%;
}

.service-rows.show {
  opacity: 1;
  transform: translateY(0);
}

.introduction-section {
  opacity: 0;
  transform: translateY(200px);
  transition: all .5s ease-in-out;
  height: 100%;
  width: 100%;
}

.introduction-section.show {
  opacity: 1;
  transform: translateY(0);
}

.services-container{
  background: linear-gradient(to bottom,  rgb(222, 227, 248), rgb(169, 180, 217));
  padding: 15px;
}

.contact-form{
    width: 75%;
}

.portrait{
    border-radius: 10px;
}

.introduction{
    font-family: 'Courier', sans-serif;
    color: black;
    width: 90%;
}

.work-button{
    margin-left: auto;
    margin-right: 5%;
    background-color: rgb(110, 126, 179);
    color: white;
}

.submit-button{
    background-color: rgb(110, 126, 179);
    width: 100%;
}

.company-container{
    width: 100%;
    height: 100%;
}

.name{
    margin: 0;
}

.instruction{
    color: #ffffff8c;
}



  @media only screen and (max-width: 767px) {

    .title-name{
      text-align: center;
    }

    .title-description{
      text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column;
      }

    /* Make the introduction section full width */
    .introduction-section {
      width: 100%;
      padding: 50px 0;
    }
    
    /* Center the portrait and reduce its size */
    .portrait {
      display: block;
      margin: auto;
      width: 200px;
      height: 220px;
    }
    
    /* Reduce the font size of the introduction text */
    .container-fluid {
      font-size: 16px;
    }
    
    /* Center the "Let's Work Together!" button */
    .work-button {
      display: block;
      margin: auto;
      margin-top: 30px;
    }
    
    /* Reduce the size of the hero images */
    .hero-container img {
      max-width: 100%;
      height: auto;
    }
    
    /* Reduce the font size and padding of the service blocks */
    .service-block {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 30px !important;
      }

      /* Center the services section */
  .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px !important;
  }

  /* Set width to 100% */
  .services-container .container {
    width: 100%;
  }

    
    /* Reduce the size of the service block icons */
    .highlight {
      font-size: 24px;
    }
  }
  