<!-- <form name="contact" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" (ngSubmit)="handleSubmit($event)" [formGroup]="contactForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input formControlName="phone" type="tel" class="form-control" id="phone" name="phone" required>
  </div>
  <div class="form-group mt-3">
    <label for="proposal">Proposal <small class="instruction">(Please provide your preferred contact method)</small></label>
    <textarea formControlName="proposal" class="form-control" id="proposal" name="proposal" rows="5" required></textarea>
  </div>

  <div style="display:none;">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </div>
  <button type="submit" class="submit-button mt-3 btn text-white">Submit</button>
</form> -->

<form name="contact" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" (ngSubmit)="handleSubmit($event)" [formGroup]="contactForm">
  <input type="hidden" name="form-name" value="contact">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input formControlName="phone" type="tel" class="form-control" id="phone" required>
  </div>
  <div class="form-group mt-3">
    <label for="proposal">Proposal <small class="instruction">(Please provide your preferred contact method)</small></label>
    <textarea formControlName="proposal" class="form-control" id="proposal" rows="5" required></textarea>
  </div>
  <!-- Hidden honeypot field to prevent spam -->
  <div style="display:none;">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </div>
  <button type="submit" class="submit-button mt-3 btn text-white">Submit</button>
</form>


<!-- <form name="pizzaOrder" method="post" (submit)="handleSubmit($event)">
  <input type="hidden" name="form-name" value="pizzaOrder" />
  <label>
    What order did the pizza give to the pineapple?
    <input name="order" type="text" />
  </label>
  <button type="submit">Submit me</button>
</form> -->
